.accord {
  margin-left: 0px;
  padding: 5px;
  border-radius: 10px;
  color: white !important;
}
.fixer {
  top: 0em;
  position: fixed;
  z-index: 100;
}

.accord2 {
  border: 1px solid skyblue;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  margin-left: 300px;
}

.accord2 {
  border: 1px solid skyblue;
  margin-left: 4px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  margin-top: 0em;
}

.nav1 {
  border: 2px solid silver;
  background-color: silver;
  color: blue;
  height: 3.2em;
}
.nav2 {
  border: 2px solid rgb(33, 36, 51);
  background-color: rgb(33, 36, 51);
  color: white;
  height: 5em;
  padding: 4px 0px;
  font-weight: bold;
}
.nav3 {
  border: 2px solid rgb(175, 188, 252);
  background-color: rgb(109, 159, 187);
  color: white;
  height: 4em;
  padding: 4px 0px;
  font-weight: bold;
}

.hover a:hover {
  background-color: rgb(109, 159, 187);
}
.dash {
  background-color: #2D3E50;
}
.bg {
  background-color:#2D3E50 !important;
  color: white !important;
}

.bgclass {
  background-color: rgb(227, 233, 237);
}

.fa.pcBar {
  display: none;
}

.layer{
  background-color: lightblues;
}
@media screen and (min-width: 990px) {
  .sidebar {
    display: block;
    width: 45px;
    overflow-x: hidden;
  }
  .vert {
    margin-left: 50px;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar .navbar-toggler {
    display: block;
  }

  /*************************************************** */
  .fa.pcBar {
    display: inline-block;
    margin-right: 5px;
  }
  .perfect-scrollbar-on .sidebar {
    /* display: none; */
  }

  .main-panel {
    /* position: relative;
    float: right; */
    /* width: calc(100% - 260px); */
    width: calc(100% - 45px);
    /* background-color: #f4f3ef;
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1); */
  }

  /******************************************************/
}

.sidy {
  width: 20%;
  background-color: rgb(33, 36, 51) !important;
  color: white;
  height: 100vh;
}

.sid {
  background-color: silver;
}
.thanks {
  padding-top: 220px;
  padding-bottom: 40px;
  text-align-last: center;
  font-weight: bolder;
}

.error{
  border: 1px solid red !important;
}

.errorVal {
  color:#db2269;
  font-size: 12px;
  font-weight: bold;
  display: relative;
}

.login-bg {
  background-color: whitesmoke;
}
.login-inner{
  background-color: white;
}

.blur{
  font-size: 40px;
  filter: blur(3px);
  }


.matched {
  background-color: lightgreen;
}

.image-underbg{
  background-color: white;
  height: 5rem;
}


.customerPhoto{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  padding: 1rem;
  height: 10rem;
}


.choosen {
  color: skyblue !important;
}
.custom-context{
  border: solid 1px #ccc;
  display: inline-block;
  margin: 5px;
  background: #FFF;
  color: #000;
  font-family: sans-serif;
  cursor: pointer;
  font-size: 12px;
 }
 .custom-context-item{
  border-bottom: dotted 1px #ccc;
  padding: 5px 25px;
 }
 .custom-context-item-last{
  padding: 5px 25px;
 }

 .reciept{
   color:gray;
 }
